.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #cf1b1b;
    color: #fff;    
    width: 300px;
    margin: 20px auto;
}